@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    margin-bottom: 100px;
}

.section-title {
    color: #131318;
    font-size: 3rem;
    font-weight: 800;
}

.textPara {
    color: rgba(19, 19, 24, 0.70);

}

.btn-primary {
    background-color: #FF5400;
    border-radius: 8px;
    padding: 16px 32px;
    border: none;
    color: #FFF;
    font-weight: 800;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .left {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 50px 0px;
}

.navbar .left img {
    /*  */
}

.navbar .left .nav-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.navbar .left .nav-special,
.navbar .right .nav-special {
    color: #FF5400;
}

.navbar .right {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .right a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
}

/* navbar ends */

.header-sec {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/bg_1.png");
    text-align: center;
    background-size: cover;
    min-height: fit-content;
    border-radius: 16px;
    padding: 106px;
}

.header-sec .main-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
}

.header-sec p {
    color: #fff;
    margin-top: 1.5rem;
}

.header-sec .search-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    margin: 3rem 0;
}

.header-sec .search-container input {
    /*  */
    border-radius: 8px;
    background: #FFF;
    padding: 16px;
    border: none;
}

.header-sec .search-container button {
    font-weight: 400;
    display: flex;
    gap: 8px;
    justify-content: center;
}

/* header section ends */

.section-container {
    display: flex;
    gap: 50px;
}

.section-container>div {
    width: calc((100% - 50px)/2);
}

.section-container .section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-container .section-content>* {
    margin-bottom: 24px;
}

.section-container .section-content ul {
    margin-left: 20px;
}

.section-container .section-img img {
    width: 100%;
    object-fit: cover;
}

/* tours section ends */


/* destination section starts */
.destination-section-content,
#reason-section .section-content {
    text-align: center;
}

.destination-section-image {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    margin-top: 48px;
}

.destination-section-image .dest-images-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.destination-section-image .dest-images-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}

.destination-section-image .dest-images-3 {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}

.destination-section-image .dest-images-4 {
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}

.destination-section-image .dest-images-5 {
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}

.destination-section-image .dest-images-6 {
    grid-column: 1/span 6;
    grid-row: 3/span 1;
}

.destination-section-image .dest-images-7 {
    grid-column: 7/span 6;
    grid-row: 3/span 1;
}

.destination-section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

/* destination section starts */
/* reason section starts */

#reason-section .section-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

#reason-section .section-card>div {
    width: 40%;
    padding: 32px;
    border-radius: 16px;
}
#reason-section .section-card .card1,
#reason-section>.section-card>.card3 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#reason-section .section-card .card2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
#reason-section .section-card .card-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 24px 0 16px 0;
}